*.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/mithu/Desktop/osteovision[[:space:]]simplified/OSTEO_VISION_MODEL_6_[[:space:]]Knee[[:space:]]Osteoarthritis[[:space:]]Detection[[:space:]]with[[:space:]]Fine-Tuned[[:space:]]ResNet152V2[[:space:]]on[[:space:]]dataset[[:space:]]3[[:space:]]MODEL_6.h5 filter=lfs diff=lfs merge=lfs -text
